
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.login-container {
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  min-height: 100vh;
}
.blue-icon {
  background-color: rgb(40, 40, 181);
  border-radius: 20%;
}
.navbar{
  box-shadow: 1px 1px 1px 0px rgb(170, 170, 170);
}
.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
}

.card {
  border: none;
  border-radius: 10px;
}

.progress {
  border-radius: 10px;
}

.progress-bar {
  border-radius: 10px;
}